body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
    /*border-radius: 20px;*/
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 40px;
}

.comment {
    margin-top: 12px;
    margin-bottom: 12px;
}

.comment-sp {
    margin-top: 0px;
}

.menu {
    color: #999;
    margin-top: 10px;
}

.menu .icon {
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-tag{
    margin-right: 10px;
}