<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>tvp的社区</title>
    <script src="/jquery-3.3.1.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>



<body>

<div th:replace="~{navigation::nav}"></div>

<div class="jumbotron">
    <h1>出错了！！！</h1>
    <p th:text="${message}==null?'你访问的页面不见了':${message}">你访问的页面不见了</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>

<!--页尾-->
<div th:insert="~{footer :: foot}"></div>
</body>

</html>